<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="mp uap uap5">

	<Identity
	  Name="a01a1751-f1a4-4a49-83b7-9c352afba8f2"
	  Publisher="CN=SimpleKit"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="a01a1751-f1a4-4a49-83b7-9c352afba8f2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>SimpleKit.Galleries.CS.WinRT</DisplayName>
		<PublisherDisplayName>SimpleKit</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="SimpleKit.Galleries.CS.WinRT.App">
			<uap:VisualElements
			  DisplayName="SimpleKit.Galleries.CS.WinRT"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="SimpleKit.Galleries.CS.WinRT"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" />
			</uap:VisualElements>
		</Application>
	</Applications>
</Package>